html{
    scroll-behavior: smooth;
}
h4, p, cite, pre{
    color: snow;
    font-family: GillSans, 'Comfortaa', 'Comic Sans MS', 'Arial', serif;
    font-size: 16px;
}

#Albums, #Who, #Contacts{
    border: 1px solid snow;
    scroll-margin-top: 1em;
}
#Main{
    scroll-margin-top: 1em;
}

h1{
    font-family: 'GillSans', 'Comfortaa', 'Comic Sans MS', 'Arial', serif;
    color: deeppink;
}

span{
    color: deeppink;
    font-family: GillSans, 'Comfortaa', 'Comic Sans MS', 'Arial', serif;
    font-size: 50px;
}

.Main{
    background-image: linear-gradient(rgba(0,0,0, 1), 10%, rgba(0,0,0,0.1)), url("1.jpg");
    background-position: center;
    background-attachment: scroll;
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
}
div.Nav {
    background: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    & a {
        overflow: hidden;
        flex-flow: row nowrap;
        text-decoration: none;
        color: snow;
        display: inline;
        padding: 10px 28px;
        font-size: 18px;
        font-family: 'Comfortaa', 'Comic Sans MS', 'Arial', serif;
    }

    & a:hover{
        color: deeppink;
        text-decoration: underline deeppink;
    }
}

.Logo {
    z-index: 9999;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 400px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 0.5%;
    background-color: rgba(0, 0, 0, 0.75);
    left: 50%;
    transform: translate(-50%,-50%);
    flex-flow: row nowrap;

    & span{
        font-family: GillSans, Arial, serif;
        font-weight: bold;
    }
}

.Ura{
    display:inline-block;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.95);

    & h2{
        font-family: GillSans, Arial, serif;
        font-weight: bold;
        width: 100%;
        color: black;
        text-align: right;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    & img {
        width: 25%;
        height: 25%;
        clear: both;
        float: left;
        margin: 1.5%;
        box-shadow: 5px 5px 5px black;
    }
    & p{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-family: GillSans, Arial, serif;
        color: black;
        text-align: right;
    }
}

.Shimo{
    display:inline-block;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.95);

    & h2{
        font-family: GillSans, Arial, serif;
        font-weight: bold;
        width: 100%;
        color: black;
        text-align: left;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    & img {
        width: 25%;
        height: 25%;
        clear: both;
        float: right;
        margin: 1.5%;
        box-shadow: 5px 5px 5px black;
    }
    & p{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-family: GillSans, Arial, serif;
        color: black;
        text-align: left;
    }
}

.Albums{
    text-decoration: none;
    color: snow;
    text-align: center;
    align-items: center;
    display: table;
    margin: 0px auto;

    & figure {
        display: table-cell;
    }
    & img{
        border-radius: 10px;
    }
    & a{
        text-decoration: none;
        color: snow;
        font-family: GillSans, 'Comfortaa', 'Comic Sans MS', 'Arial', serif;
        font-size: 14px;
    }
}

body{
    background-color: rgba(0, 0, 0, 0.9);
}

footer{
    text-align: center;
    align-items: center;
    background-image: url("6.jpg");
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    height: 400px;
    font-size: 16px;
    background-repeat: no-repeat;
    opacity: 0.8;
}